<div class="panel panel-default">
    <div class="panel-heading"
         style="font-size:large">
        Contact
    </div>

    <div class="panel-body">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <img style="height:300px;width:500px;" src="~/Images/General/ContactBuilding.jpg" class="img-responsive" />
                    <br />
                    <br />
                </div>
                <div class="col-md-6">

                    <div id="contactPanel" class="panel panel-default ">
                        <div class="panel-heading"
                             style="font-size:large">
                            Opening Hours
                        </div>

                        <div class="panel-body">
                            <div id="paragraph">
                                <pre>
We are open 6 days per week from 8.30am - 5.00pm.

Closed on Sunday's. 


                               </pre>
                            </div>

                        </div>
                    </div>

                    <div id="contactPanel" class="panel panel-default ">
                        <div class="panel-heading"
                             style="font-size:large">
                            Contact Us
                        </div>

                        <div class="panel-body">
                            <div id="paragraph">
<pre>3103 S 3rd St, Louisville, KY 40214

Phone: +353-1-2023922 
Email: shoponline@gmail.com</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        
    




   
   

